* {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 20px;
    word-wrap: break-word
}

:root {
    --primary-color: darkgreen;
}

/*Top bar with navigation*/

header {
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

.nav-r {
    border-radius: 5px;
}

.title {
    font-size: 40px;
}

a {
    font-size: 40px;
}

.logo {
    float: right;
    width: 200px;
    height: auto;
    position: relative;
}

/*Body*/

/*Projecten*/

.btn {
    background-color: var(--primary-color)
}

.card-img-top {
    width: 100%;
    margin: 5px;
}

/*Projecten*/

/*Ervaring*/

.row .col .container-fluid,
.row .col .container-md{
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    --bs-gutter-x: 0.5rem;
}

.row  {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

/*Ervaring*/