* {
    font-family: 'Times New Roman', Times, serif;
text-align: left;
font-size: 20px;
margin: 0px;
padding: 0px;
}

:root{
    --primary-color: darkgreen;
}

/*Top bar with navigation*/

header {
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 5px;
}

.nav-r {
    border-radius: 5px;
}

.title {
    font-size: 40px;
}

a {
    font-size: 40px;
}

.logo {
    float: right;
    width: 200px;
    height: auto;
    position: relative;
}

/*Body*/

/*Projecten*/

.card {
    margin: 5px;
}

.btn {
    background-color: var(--primary-color)
}